---
// src/pages/index.astro
---
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>KendoBH</title>
  </head>
  <body>
    <main>Astro is alive.</main>
  </body>
</html>
