@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp{
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.fade-animation {
    animation-name: fadeInUp;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

@keyframes slide-in {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slide-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1000px);
    }
}

.slide-in {
    animation: slide-in 1000ms ease;
    display: inherit;
}

.slide-out {
    animation: slide-out 1000ms ease;
}

@keyframes open-answer {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes close-answer {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

.open-answer {
    animation: open-answer 1000ms ease;
    display: inherit;
}

.close-answer {
    animation: close-answer 1000ms ease;
}